   <tr class="text-center text-primary align-middle">
      <th class="fit" scope="col">Номер</th>
      
      <th class="fit" scope="col">Місткість</th>
      <th class="" scope="col">Порт</th>
      <th class="fit" scope="col">. . .</th>
   </tr>
</thead>
<tbody>
   <tr class="text-center text-secondary" id="table_empty">
      <td colspan="5"> <span class="mx-5 fs-4">Немає даних для відображення</span> </td>
   </tr>