   <tr class="text-center text-primary align-middle">
      <th class="fit" scope="col">ID</th>
      <th class="" scope="col">Назва</th>
       <th class="" scope="col">Країна</th>
      <th class="fit" scope="col">Тоннаж</th>
      <th class="" scope="col">Пристань</th>
      <th class="" scope="col">Порт</th>
      <th class="fit" scope="col">. . .</th>
   </tr>
</thead>
<tbody>
   <tr class="text-center text-secondary" id="table_empty">
      <td colspan="6"> <span class="mx-5 fs-4">Немає даних для відображення</span> </td>
   </tr>